@charset "utf-8";

body {
	background-color: orange;
}

img:hover {
	border: 25px ridge black;
}
img {
	width: 100;	
}
	
h1 {
	color: #2C14C3;
	text-decoration: wavy underline 2px pink;
	text-shadow: 10px 2px 4px red;
	font-family: Times New Roman;
	}
nav {
	color: #ffb703; /* Star Gold */
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}
